@import '../../global.scss';

.parent{
  display: flex;
  align-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(162, 204, 204);
  flex-direction: row;
  justify-content: center;

  @include mobile{
    flex-direction: column;
    overflow: scroll;
    height: 120vh;
  }
  .textField{    
    padding: 10px;

    @include mobile{
      padding: 5px;
    }
  }

  .child_1{
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(162, 204, 204);
    flex-direction: column;
    justify-content: center;
  }
  .child_2{
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(162, 204, 204);
    flex-direction: column;
    justify-content: center;
  }
}
