# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
ipl2022/node_modules
/.pnp
.pnp.js
ipl2022/.pnp
ipl2022/.pnp.js

# testing
/coverage
ipl2022/coverage

# production
ipl2022/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
ipl2022/.DS_Store
ipl2022/.env.local
ipl2022/.env.development.local
ipl2022/.env.test.local
ipl2022/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
ipl2022/npm-debug.log*
ipl2022/yarn-debug.log*
ipl2022/yarn-error.log*
