.parent{
  height: 100vh;

  .match_list {
    background: linear-gradient(to right, #fdeff9, #4572c7);
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 70px);
    align-self: flex-start;
    top: 70px;
    position: relative;
  
    .card {
      /* position: absolute; */
      /* top: 50%; */
      /* left: 25%; */
      transform: translate(-4%, 5%);
      width: auto;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s;
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
      height: 420px;
      margin: 30px;
      cursor: pointer;
  
      .left {
        position: absolute;
        bottom: 0%;
        left: -120%;
        width: 60%;
        height: 30%;
        transition: 0.5s;
        box-sizing: border-box;
        /* border-top: 5px solid #430064; */
        transform: skewX(-5deg);
      }
  
      .right {
        position: absolute;
        bottom: 0%;
        right: -120%;
        width: 60%;
        height: 30%;
        transition: 0.5s;
        box-sizing: border-box;
        /* border-top: 5px solid #ef9b0f; */
        transform: skewX(-5deg);
      }
    }
  
    .card:hover {
      background: #fff;
  
      h2 {
        background: #ff0057;
        color: #fff;
      }
  
      > .left {
        left: -10%;
      }
  
      > .right {
        right: -9%;
      }
  
      .team1 {
        h3 {
          .team-name {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            font-size: large;
          }
        }
      }
  
      .team2 {
        h3 {
          .team-name {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            font-size: large;
          }
        }
      }
    }
  
    h2 {
      width: auto;
      margin: 0;
      padding: 20px;
      text-align: center;
      box-sizing: border-box;
      transition: 0.5s;
    }
  
    .match-details {
      position: relative;
  
      .team1 {
        width: auto;
        float: left;
        padding: 10px 20px 20px;
        box-sizing: border-box;
        text-align: center;
  
        img {
          width: fit-content;
          height: fit-content;
        }
  
        .team-name {
          padding: 15px 0 0;
          text-align: right;
          transition: 0.5s;
          margin-top: 40px;
          text-align: left;
          color: black;
        }
  
        .team-points {
          text-align: right;
          transition: 0.5s;
          text-align: left;
          color: black;
        }
      }
  
      .details {
        width: 200px;
        min-height: auto;
        float: left;
        text-align: center;
  
        .date {
          margin: 20px 0 0;
        }
  
        .versus {
          width: 50px;
          height: 50px;
          font-size: 24px;
          border-radius: 50%;
          background: #e91e63;
          color: #fff;
          text-align: center;
          line-height: 50px;
          margin: 20px auto;
        }
      }
  
      .team2 {
        width: auto;
        float: left;
        padding: 10px 20px 20px;
        box-sizing: border-box;
        text-align: center;
  
        img {
          width: fit-content;
          height: fit-content;
        }
      }
    }
  }
}
