@import "../../global.scss";

.parent {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  background: #262435;

  .child {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    border-radius: 5%;
    box-shadow: 12px 12px 22px grey;
    // border-radius: 12px;

    @include mobile {
      flex-direction: column;
      width: 90%;
      height: 95%;
    }

    .child_left {
      width: 50%;
      height: 100%;
      overflow: hidden;
      border-radius: 12px 0 0 12px;

      @include mobile {
        //  display: none;
        width: 100%;
        height: 50%;
        overflow: hidden;
        border-radius: 12px 12px 0 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .child_right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      align-self: center;
      background: rgb(37 18 75);
      border-radius: 0 12px 12px 0;

      @include mobile {
        width: 100%;
        height: 100%;
        border-radius: 0 0 12px 12px;
      }

      .child_right_inner {
        width: 80%;
        height: 80%;
        background: rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        justify-content: space-around;

        @include mobile {
          width: 90%;
          height: 90%;
        }

        .child_right_1 {
          width: 100%;
          text-align: center;
          color: #fff;
          background: #1f51ff;
          overflow: hidden;

          p {
            margin-top: 1rem;

            @include mobile {
              margin: 5px;
            }
          }
        }

        .child_right_2 {
          color: #fff;
          display: flex;
          justify-content: center;
          width: 100%;

          form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .formError {
              color: red;
              font-size: 0.8rem;
            }

            .input_field {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;

              .input_field_inner {
                display: flex;
                justify-content: center;
                flex-direction: row;

                .input_field_inner_1 {
                  display: flex;
                  justify-content: flex-end;
                  position: absolute;
                  padding-left: 20%;
                  padding-top: 17px;

                  @include mobile {
                    padding-left: 50%;
                  }
                }
              }

              input {
                width: 80%;
                border: none;
                border: 2px solid #1f51ff;
                box-shadow: 0 0 5px #1f51ff, 0 0 25px #1f51ff;
                border-radius: 24px;
                margin: 10px 0 10px 0;
                background: transparent;
                color: white;
                align-self: center;
                text-align: center;
                padding: 14px 10px;
                outline: none;
                transition: 0.2s;

                &:focus {
                  width: 85%;
                  box-shadow: 0 0 5px #fff01f, 0 0 25px #39ff14;
                }
              }
            }

            .login_btn {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }

        .child_right_3 {
          color: #fff;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          align-content: center;
          background: #1f51ff;
          padding: 5px 0;
          overflow: hidden;

          @include mobile {
            padding: 5px;
          }

          .child_right_3_left {
            a {
              cursor: pointer;
            }
          }

          .child_right_3_right {
            font-size: 1rem;

            @include mobile {
              font-size: 0.9rem;
            }

            .span1 {
              font-size: 0.7rem;
            }

            .span2 {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
